/****************** Cofely ************************/

#Debug {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 75%;
  z-index: 15;
  color: white;
}

/**************** COMMON BACKGROUND COLOR *********/

.green {
  background-color: green;
  color: white;
}

.red {
  background-color: red;
  color: white;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  /*background-color: #f5f5f5;*/
  /* background-color: rgba(0, 0, 0, 0.0980392); */
}

.text-newline {
  white-space: pre;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

.container {
  /* width: auto;
  padding: 0 15px; */
}

.container .text-muted {
  margin: 5px 0;
}

/* Template-specific stuff
 *
 * Customizations just for the template; these are not necessary for anything
 * with disabling the responsiveness.
 */

/* Account for fixed navbar
body:not(.no-padding) {
  padding-top: 70px;
  padding-bottom: 30px;
}*/

/* Don't let the lead text change font-size. */

.lead {
  font-size: 16px;
}

/* Finesse the page header spacing */

.page-header {
  margin-bottom: 30px;
}

.page-header .lead {
  margin-bottom: 10px;
}

/* Non-responsive overrides
 *
 * Utilize the following CSS to disable the responsive-ness of the container,
 * grid system, and navbar.
/

/* Demonstrate the grids */

.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  background-color: rgba(86, 61, 124, .15);
  border: 1px solid #ddd;
  border: 1px solid rgba(86, 61, 124, .2);
}

.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

/* Always float the navbar header */

.navbar-header {
  float: left;
}

/* Undo the collapsing navbar */

.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}

.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}

/* Always apply the floated nav */

.navbar-nav {
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
}

.navbar-nav>li>a {
  padding: 15px;
}

/* Redeclare since we override the float above */

.navbar-nav.navbar-right {
  float: right;
}

/* Undo custom dropdowns */

.navbar .navbar-nav .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #333;
}

.navbar .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar .navbar-nav .open .dropdown-menu>li>a:focus,
.navbar .navbar-nav .open .dropdown-menu>.active>a,
.navbar .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}

.navbar .navbar-nav .open .dropdown-menu>.disabled>a,
.navbar .navbar-nav .open .dropdown-menu>.disabled>a:hover,
.navbar .navbar-nav .open .dropdown-menu>.disabled>a:focus {
  color: #999 !important;
  background-color: transparent !important;
}

/* Undo form expansion */

.navbar-form {
  float: left;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Copy-pasted from forms.less since we mixin the .form-inline styles. */

.navbar-form .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.navbar-form .form-control-static {
  display: inline-block;
}

.navbar-form .input-group {
  display: inline-table;
  vertical-align: middle;
}

.navbar-form .input-group .input-group-addon,
.navbar-form .input-group .input-group-btn,
.navbar-form .input-group .form-control {
  width: auto;
}

.navbar-form .input-group>.form-control {
  width: 100%;
}

.navbar-form .control-label {
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio,
.navbar-form .checkbox {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.navbar-form .radio label,
.navbar-form .checkbox label {
  padding-left: 0;
}

.navbar-form .radio input[type="radio"],
.navbar-form .checkbox input[type="checkbox"] {
  position: relative;
  margin-left: 0;
}

.navbar-form .has-feedback .form-control-feedback {
  top: 0;
}

.modal-backdrop {
  z-index: 0 !important;
}

/******* Warning multiple poller *********/

#warning-multiple-poller {
  position: absolute;
  background-color: black;
  z-index: 199;
  color: white;
  font-size: 4em;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 250px;
  background-color: red;
}

/*  alarmtable.html */

.alarm-info {
  margin-top: 15px;
}

.no-border {
  border-style: none !important;
}

.alarm-table.panel {
  margin-top: 15px;
}

.no-padding {
  padding: 0px;
}

.main-container {
  position: absolute;
  top: 55px;
  bottom: 30px;
  left: 0px;
  right: 0px;
}

.main-container .row {
  height: 100%;
}

.main-table {
  height: 100%;
  overflow: auto;
}

.navbar {
  max-height: 55px;
}

.filter-box {
  position: absolute;
  top: -45px;
  right: 10px;
  z-index: 1050;
}

/******* Error Poller is failing *********/

#error-disconnected-background {
  position: absolute;
  z-index: 299;
  color: white;
  font-size: 4em;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  text-align: center;
  padding-top: 250px;
  background-color: black;
  opacity: 0.60;
  filter: alpha(opacity=60);
}

/*****Technical error********/

.technicalerrorpanel {
  background-color: red;
}

#error-disconnected-box {
  border-radius: 5px;
  position: absolute;
  top: 40%;
  bottom: 30%;
  left: 50%;
  width: 80%;
  margin-left: -40%;
  background-color: white;
  opacity: 1.0;
  filter: alpha(opacity=100);
}

#error-disconnected-text {
  color: red;
  font-size: large;
  font-weight: bold;
  text-align: center;
  margin-top: 2%;
}

#error-disconnected-progress-icon {
  position: absolute;
  bottom: 2%;
  left: 50%;
  width: 64px;
  background-image: url("../img/waiting02.gif");
  height: 64px;
  margin-left: -32px;
}

.pollerIsFailingtrue {
  z-index: 300;
}

.pollerIsFailingfalse {
  z-index: -2;
}

.background {
  z-index: -1;
  position: absolute;
  background-color: white;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.language-selection {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 20%;
}

.language-button-placeholder {
  float: right;
}

.logo-header-container {
  position: absolute;
  left: 5px;
  top: 0px;
  width: 30%;
}

.logo-header-image1 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/logo/ENGIE_cofely-small.png);
  height: 50px;
  top: 0px;
  left: 0px;
  width: 100px;
}

.logo-header-image2 {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/logo/udrop.png);
  background-size: 100px;
  height: 50px;
  left: 100px;
  top: 0px;
  width: 100px;
}

.top-header-separator {
  background-image: url(../img/ENGIE_BAR.png);
  height: 20px;
  position: absolute;
  width: 100%;
  top: 50px;
}

.top-header {
  position: fixed;
  width: 100%;
  height: 60px;
  top: 0px;
  left: 0px;
  z-index: 99999;
  background-color: white;
}

.screen-title {
  width: 100%;
  text-align: center;
  height: 30px;
}

.screen-container {
  width: 100%;
  left: 0px;
  top: 30px;
  bottom: 0px;
  overflow: auto;
}

.screen-container-main {
  width: 100%;
  left: 0px;
  top: 60px;
  bottom: 30px;
  overflow: auto;
  position: fixed;
}

.return-buttons {
  bottom: 40px;
  position: fixed;
  overflow: hidden;
  width: 80%;
}

.pdf-viewer {
  width: 100%;
  left: 0px;
  right: 0px;
  top: 60px;
  bottom: 30px;
  overflow: auto;
  position: fixed;
}

.pdf-rendering-hourglass {
  top: 250px;
  left: 50%;
  margin-left: -64px;
  position: absolute;
  background-image: url(../img/progress01.gif);
  background-repeat: no-repeat;
  height: 128px;
  width: 128px;
}

.pdf-rendering-text {
  top: 200px;
  width: 100%;
  text-align: center;
  position: absolute;
}

.collector{
  width:250px;
  height:250px;
  border:1px solid #000;
}

/* .simulator-bag-collector{
  width: 90%;
} */
.simulator-bag-collector,
.simulator-bag-conveyor,
.simulator-bag-conveyor-forward,
.simulator-bag-conveyor-reverse {
  width: 90%;
}

.simulator-main-frame {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 115px;
  bottom: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.simulator-data {
  height: 100px;
  width: 100%;
  top: 377px;
  position: absolute;
}

.control-panel {
  /* height: 100px;
  width: 100%;
  top: 300px;
  position: absolute; */
}

.control-panel-img {
  height: 80px;
  width: 80px;
}

.simulator-data-flight {
  left: 10px;
  width: auto;
  height: auto;
}

.simulator-data-pax {
  height: 100px;
  width: 20%;
}

.simulator-data-boarding-pass {
  height: 50px;
  width: 100px;
  background-image: url(../img/simulator/boardingpass.png);
  background-size: 100px;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 25px;
}

.simulator-data-bags {
  height: 80px;
  position: absolute;
  left: 50px;
  right: 5px;
}

.simulator-data-bag {
  height: 80px;
  width: 120px;
  float: left;
}

.simulator-data-bag-picture {
  max-height: 100%;
  max-width: 100%;
  bottom: 0px;
  position: absolute;
}

.simulator-popup-background-visible {
  position: relative;
  z-index: 1000;
  left: 0px;
  top: 0px;
  width: 500px;
  height: 230px;
  background-color: white;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: #337ab7;
  box-shadow: 10px 10px 5px grey;
}

.simulator-popup-on-conveyor {
  top: -200px;
  height: 200px;
  left: -200px;
}

.simulator-popup-background-hidden {
  visibility: hidden;
}

.simulator-popup-header {
  position: absolute;
  text-align: center;
  top: 0px;
  height: 50px;
  width: 100%;
  color: white;
  background-color: #337ab7;
}

.simulator-popup-body {
  position: absolute;
  text-align: center;
  top: 50px;
  bottom: 45px;
  width: 100%;
}

.simulator-popup-footer {
  position: absolute;
  text-align: right;
  bottom: 0px;
  height: 45px;
  padding-right: 10px;
  width: 100%;
}

.simulator-view {
  width: 50%;
  right: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.conveyor-moving-transition {
  /* 200ms will be applied between each sucessive enter operation */
  -webkit-transition-delay: 2.2s;
  transition-delay: 2.2s;
  /* this is here to avoid accidental CSS inheritance */
  /* -webkit-transition-duration: 0;
  transition-duration: 0; */
}

.conveyor-container {
  position: absolute;
  width: 100%;
  z-index: -100;
  bottom: 0px;
}

.simulator-conveyor {
  z-index: -100;
  /* position:relative; */
  /* bottom:0px;
	width:50%;
  height:100px; */
  /* background-color: yellow; */
}

.conveyor-img {
  width: 100%;
  height: 100%;
  bottom: 0px;
  z-index: -100;
  object-fit: contain;
}

.simulator-conveyor-left {
  height: 72px;
  background-image: url(../img/simulator/Conveyor-Left.png);
  background-size: 72px;
  background-repeat: no-repeat;
  position: relative;
}

.simulator-conveyor-right {
  right: 100px;
  bottom: 10px;
  height: 72px;
  width: 72px;
  background-image: url(../img/simulator/Conveyor-Right.png);
  background-size: 72px;
  background-repeat: no-repeat;
  position: absolute;
}

.simulator-conveyor-middle {
  left: 66px;
  right: 176px;
  bottom: 32px;
  height: 72px;
  background-image: url(../img/simulator/Conveyor-Center.png);
  background-size: 72px;
  background-repeat: repeat-x;
  position: absolute;
}

.simulator-conveyor-wheel-stopped {
  background-image: url(../img/simulator/Stopped-Wheel.png);
  background-size: 64px;
  background-repeat: no-repeat;
}

.simulator-conveyor-wheel-rotating {
  background-image: url(../img/simulator/Rotating-Wheel.gif);
  background-size: 64px;
  background-repeat: no-repeat;
}

.simulator-conveyor-wheel-left {
  left: 0%;
  bottom: 0px;
  height: 64px;
  /* width: 64px; */
  position: relative;
}

.simulator-conveyor-wheel-right {
  left: 100%;
  bottom: 0px;
  height: 67px;
  position: relative;
}

.Simulator-conveyor-drop-area {
  /* background-color: fuchsia; */
  /* height:100%;
  width:100%; */
  /* position:relative; */
  /* bottom:82px;
	left:136px;
	right:136px;
	height:150px; */
}

.bag-container {
  height: 20%;
  width: 100%;
  top: 30%;
}

.simulator-conveyor-bag {
  height: 80px;
  width: 120px;
  float: left;
  bottom: 0px;
  position: absolute;
}

.bag-inject-animation {
  transition: 3s linear all;
  transform: translateX(1000px);
}

.bag-forward-animation {
  transition: 2s linear all;
  transform: translateX(200px);
}

.bag-backward-animation {
  transition: 2s linear all;
  transform: translateX(-200px);
}

.bag-inject-animation-conveyor-2 {
  transition: 2s linear all;
  transform: translateX(500px);
}

.bag-inject-animation-conveyor-3 {
  transition: 2s linear all;
  transform: translateX(500px);
}

.simulator-conveyor-2 {
  position: absolute;
  right: 50px;
  bottom: 20px;
  width: 50%;
  height: 100px;
}

.simulator-conveyor-wheel-stopped-2 {
  background-image: url(../img/simulator/Stopped-Wheel.png);
  background-size: 64px;
  background-repeat: no-repeat;
}

.simulator-conveyor-wheel-rotating-2 {
  background-image: url(../img/simulator/Rotating-Wheel.gif);
  background-size: 64px;
  background-repeat: no-repeat;
}

.simulator-conveyor-wheel-left-2 {
  left: 104px;
  bottom: 14px;
  height: 64px;
  width: 64px;
  position: absolute;
}

.simulator-conveyor-wheel-right-2 {
  right: 104px;
  bottom: 14px;
  height: 64px;
  width: 64px;
  position: absolute;
}

.Simulator-conveyor-drop-area-2 {
  position: absolute;
  bottom: 82px;
  left: 136px;
  right: 136px;
  height: 150px;
}

.simulator-conveyor-bag-2 {
  height: 80px;
  width: 120px;
  float: left;
  bottom: 0px;
  position: absolute;
}

.simulator-command-panel {
  position: absolute;
  top: 10px;
  right: 0px;
  height: 50px;
  width: auto;
  z-index: 100;
}

.simulator-position-on-off {
  width: 220px;
  height: 50px;
  right: 5px;
  position: absolute;
}

.simulator-e-stop {
  width: 200px;
  height: 50px;
  right: 220px;
  position: absolute;
}

.simulator-overheight {
  width: 20px;
  height: 50px;
  right: 240px;
  top: 2px;
  position: absolute;
}

.simulator-overlength {
  width: 20px;
  height: 50px;
  right: 260px;
  top: 2px;
  position: absolute;
}

.simulator-error-indicator {
  color: red;
  font-weight: bolder;
  width: 10px;
}

.flux-bar {
  display: block;
  position: relative;
  align-self: center;
  width: 100%;
  height: 10px;
  border-radius: 8px;
  /* background-color: #86be4e; */
}

.flux-bar.no-index {
  z-index: 0;
}

.flux-bar.short span:nth-child(1) {
  left: 23%;
  width: 23%;
  z-index: 2;
}

.flux-bar.short span:nth-child(2) {
  left: 44%;
  width: 23%;
  z-index: 1;
}

.flux-bar.short span:nth-child(3) {
  left: 65%;
  width: 23%;
  z-index: 2;
}

.flux-bar.short span:nth-child(4) {
  left: 86%;
  width: 14%;
  z-index: 1;
}

.flux-bar span {
  position: absolute;
  height: 10px;
  top: 0;
  border-radius: 8px;
}

.flux-bar span:nth-child(1) {
  background-color: #00994e;
  width: 14.5%;
  left: -0.8%;
  z-index: 2;
}

.flux-bar span:nth-child(2) {
  background-color: #b2d234;
  left: 8%;
  width: 24%;
  z-index: 1;
}

.flux-bar span:nth-child(3) {
  background-color: #0066b2;
  left: 28%;
  width: 9%;
  z-index: 2;
}

.flux-bar span:nth-child(4) {
  background-color: #00994e;
  width: 7.8%;
  left: 49%;
  z-index: 2;
}

.flux-bar span:nth-child(5) {
  background-color: #0af;
  width: 33%;
  left: 35%;
  z-index: 1;
}

.flux-bar span:nth-child(6) {
  background-color: #fece32;
  left: 55%;
  width: 15%;
  z-index: 1;
}

.flux-bar span:nth-child(7) {
  background-color: #e63246;
  left: 62.9%;
  width: 11.2%;
  z-index: 2;
}

.flux-bar span:nth-child(8) {
  background-color: #ed3d95;
  width: 8%;
  left: 72%;
  z-index: 1;
}

.flux-bar span:nth-child(9) {
  background-color: #5c2d90;
  left: 78.3%;
  width: 7.5%;
  z-index: 2;
}

.flux-bar span:nth-child(10) {
  background-color: #ed3d95;
  left: 85%;
  width: 13%;
  z-index: 1;
}

.mood_blue .flux-bar {
  background-color: #5fc3eb;
}

.mood_blue .flux-bar span:nth-child(1) {
  background-color: #0078be;
}

.mood_blue .flux-bar span:nth-child(2) {
  background-color: #37b9c3;
}

.mood_blue .flux-bar span:nth-child(3) {
  background-color: #005a78;
}

.mood_blue .flux-bar span:nth-child(4) {
  background-color: #0078be;
}

.mood_blue .flux-bar span:nth-child(5) {
  background-color: #5fc3eb;
}

.mood_blue .flux-bar span:nth-child(6) {
  background-color: #91c896;
}

.mood_blue .flux-bar span:nth-child(7) {
  background-color: #005a78;
}

.mood_blue .flux-bar span:nth-child(8) {
  background-color: #37b9c3;
}

.mood_blue .flux-bar span:nth-child(9) {
  background-color: #0078be;
}

.mood_blue .flux-bar span:nth-child(10) {
  background-color: #5fc3eb;
}

.mood_green .flux-bar {
  background-color: #86be4e;
}

.mood_green .flux-bar span:nth-child(1) {
  background-color: #19a546;
}

.mood_green .flux-bar span:nth-child(2) {
  background-color: #6ebeaa;
}

.mood_green .flux-bar span:nth-child(3) {
  background-color: #007873;
}

.mood_green .flux-bar span:nth-child(4) {
  background-color: #19a546;
}

.mood_green .flux-bar span:nth-child(5) {
  background-color: #86be4e;
}

.mood_green .flux-bar span:nth-child(6) {
  background-color: #e1dc00;
}

.mood_green .flux-bar span:nth-child(7) {
  background-color: #007873;
}

.mood_green .flux-bar span:nth-child(8) {
  background-color: #6ebeaa;
}

.mood_green .flux-bar span:nth-child(9) {
  background-color: #19a546;
}

.mood_green .flux-bar span:nth-child(10) {
  background-color: #86be4e;
}

.footer-logo {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(./../img/logo/FAS-Logo.png);
  background-size: 124px;
  height: 59px;
  width: 126px;
  left: -20px;
  bottom: 37px;
  z-index: 10;
}

.footer-logo-client {
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(./../img/logo/ier-1.svg);
  background-size: 125px;
  height: 112px;
  width: 123px;
  right: 20px;
  bottom: 20px;
  z-index: 0;
}

.status-message {
  background-color: #eee;
  text-align: center;
}

.error-message {
  background-color: #ea3e084a;
  /* background-color: none; */
  text-align: center;
}

.errorLabel {
  height: 50px;
  overflow: auto;
}

.commandTable {}

.commandRow {
  margin: 5px;
  /* border: solid; */
}

.bhs-alert {
  /* padding: 5px; */
  margin-bottom: 15px;
  /* border: 1px solid transparent; */
  border-radius: 0px;
}

.bhs-alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  text-align: center;
}

.bhs-alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
}

.conveyor {
  width: 250px;
  height: 170px;
  border: 1px solid #000;
}

.scale-box-conv0 {
  margin-top: -78px;
  margin-left: -19px;
  width: 250px;
  border: solid;
  border-color: navy;
}

.scale-box-conv1 {
  margin-top: -78px;
  margin-left: 136px;
  width: 250px;
  border: solid;
  border-color: orange;
}

.scale-box-secondConveyor {
  margin-top: -78px;
  /* (150 - 19px) */
  margin-left: -135px;
  width: 150px;
  border: solid;
  border-color: navy;
}

/* transition: all linear 0.5s;
background-color: lightblue;
height: 100px;
width: 100%;
position: relative;
top: 0;
left: 0; */

/* .simulator-bag-conveyor.ng-enter {
  transition: 2s linear all;
  transform:translateX(0%);
}
.simulator-bag-conveyor.ng-enter-active {
  transform:translateX(100%);
} */

/* STATIC (NO CONVEYOR MOVEMENT) */

div>img.simulator-bag-collector.ng-enter,
div>img.simulator-bag-conveyor.ng-enter {
  transition: 0.5s;
  opacity: 0;
  width: 90%;
}

div>img.simulator-bag-collector.ng-enter.ng-enter-active,
div>img.simulator-bag-conveyor.ng-enter.ng-enter-active {
  opacity: 1;
  width: 90%;
}

div>img.simulator-bag-conveyor.ng-leave {
  transition: 0.5s;
  opacity: 1;
  width: 90%;
}

div>img.simulator-bag-conveyor.ng-leave.ng-leave-active {
  opacity: 0;
  width: 90%;
}

/* FORWARD */

div>img.simulator-bag-conveyor-forward.ng-enter,
div>img.simulator-bag-conveyor-forward.ng-leave {
  transition: 1s;
  width: 90%;
}

div>img.simulator-bag-collector.ng-enter,
div>img.simulator-bag-conveyor-forward.ng-enter {
  transform: translateX(-116px);
  animation-delay: 0.5s;
  width: 90%;
}

div>img.simulator-bag-conveyor-forward.ng-leave.ng-leave-active {
  /* transform:translateX(90%); */
  width: 90%;
}

div>img.simulator-bag-conveyor-forward.ng-leave {
  transform: translateX(0px);
  width: 90%;
}

div>img.simulator-bag-collector.ng-enter.ng-enter-active,
div>img.simulator-bag-conveyor-forward.ng-enter.ng-enter-active {
  transform: translateX(0px);
  width: 90%;
}

div>img.simulator-bag-conveyor-forward.ng-leave.ng-leave-active {
  transform: translateX(116px);
  width: 90%;
}

/* REVERSE */

div>img.simulator-bag-conveyor-reverse.ng-enter,
.simulator-bag-conveyor-reverse.ng-leave {
  transition: 1s;
  width: 90%;
}

div>img.simulator-bag-conveyor-reverse.ng-enter {
  transform: translateX(116px);
  /* animation-delay: 0.5s; */
  width: 90%;
}

div>img.simulator-bag-conveyor-reverse.ng-enter-active {
  transform: translateX(0px);
  width: 90%;
}

div>img.simulator-bag-conveyor-reverse.ng-leave {
  transform: translateX(0px);
  width: 90%;
}

div>img.simulator-bag-conveyor-reverse.ng-leave-active {
  transform: translateX(-116px);
  width: 90%;
}

/* COLLECTOR */

div>img.simulator-bag-collector.ng-leave {
  transform: translateY(0px);
  width: 90%;
  transition: 1s;
  opacity: 1;
}

div>img.simulator-bag-collector.ng-leave-active {
  transform: translateY(150px);
  width: 90%;
  opacity: 0.1;
}

/* 
.bag-conveyor-backward-animation {
  transition: 20s linear all;
  transform: translateX(-200px);
}

.bag-collector-animation {
  transition: 20s linear all;
  transform: translatey(300px);
} */

/* .forward{
  -webkit-transform:translateX(150px);
  -webkit-transition:-webkit-transform 2s ease-in-out;
  
}

.reverse{
  -webkit-transform:translateX(-150px);
  -webkit-transition:-webkit-transform 2s ease-in-out;
}

.collector-animation{
  -webkit-transform:translateY(100px);
  -webkit-transition:-webkit-transform 2s ease-in-out;
}  */

/*
.forward.ng-enter {
  transition:1s linear all;
  transform:translateX(116px);
}
.forward.ng-enter.ng-enter-active {
  transform:translateX(0);
}
.forward.ng-leave {
  transition:1s linear all;
  transform:translateX(116px);
}
.forward.ng-leave.ng-leave-active {
  transform:translateX(0);
}

.reverse.ng-enter {
  transition:1s linear all;
  transform:translateX(-116px);
}
.reverse.ng-enter.ng-enter-active {
  transform:translateX(0);
}
.reverse.ng-leave {
  transition:1s linear all;
  transform:translateX(-116px);
}
.reverse.ng-leave.ng-leave-active {
  transform:translateX(0);
}
*/

/* 116px right */

/* -116px left */