<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>BHS Simulator</title>
  <link rel="icon" 
  type="image/png" 
  href="img/simulator/bag-blue.png"/>
  <!-- COMMON JS FILES -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/angular.js"></script>
  <script type="text/javascript" src="js/angular-animate.js"></script>
  <script type="text/javascript" src="js/angular-poller.js"></script>
  <script type="text/javascript" src="js/angular-css-injector.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/ngDraggable.js"></script>
  <script type="text/javascript" src="js/ui-bootstrap-tpls-2.1.3.min.js"></script>
  <script type="text/javascript" src="js/BHSSimulatorController.js"></script>

  <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/animate.min.css" />

  <link rel="stylesheet" href="css/app.css" />
  <link rel="stylesheet" href="css/uDropDemo.css" />
</head>

<body ng-app="BHSSimulatorApp">
  <div ng-controller="BHSSimulatorController">
    <div class="container">
      <div class="simulator-panel">
        <div class="container col-sm-4" id="RestAPI">
          <div class="panel panel-default">
            <div class="panel-heading">Rest API Data</div>
            <table class="table">
              <tr>
                <th>
                  Tag
                </th>
                <th>
                  Value
                </th>
              </tr>
              <tr>
                <td>ConveyorInject</td>
                <td>{{kiosk.ConveyorInject}}</td>
              </tr>
              <tr ng-if="threeConveyors">
                <td>ConveyorForward</td>
                <td>{{kiosk.ConveyorForward}}</td>
              </tr>
              <tr ng-if="threeConveyors">
                <td>ConveyorBackward</td>
                <td>{{kiosk.ConveyorReverse}}</td>
              </tr>
              <tr>
                <td>Error</td>
                <td>{{kiosk.Error}}</td>
              </tr>
              <tr>
                <td>Error Label</td>
                <td>
                  <div class="errorLabel">
                    {{kiosk.ErrorMessage}}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Info</td>
                <td>{{kiosk.Info}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{kiosk.Status}}</td>
              </tr>
              <tr>
                <td>CurrentWeight (g)</td>
                <td>{{kiosk.CurrentWeight}}</td>
              </tr>
              <tr>
                <td>BHS Scale Status</td>
                <td ng-style="{'background-color': (kiosk.BHSScaleStatus == 'OK') ? 'green':(!kiosk.BHSScaleStatus) ?'white':'red'}">{{kiosk.BHSScaleStatus}}</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="container col-sm-3" id="RestAPI">
          <div class="panel panel-default">
            <div class="panel-heading">Bag Information</div>
            <table class="table table-bordered">
              <tr>
                <td>Indicators</td>
                <td uib-tooltip="Mininum Weight">{{SimulatorData.minWeight}}</td>
                <td uib-tooltip="Maximum Weight">{{SimulatorData.maxWeight}}</td>
              </tr>
              <tr>
                <td>Bag Errors</td>
                <td ng-if="SimulatorData.UnderWeight" style="background-color:{{(SimulatorData.UnderWeight)?'red':'';}}">UnderWeight</td>
                <td ng-if="SimulatorData.OverWeight" style="background-color:{{(SimulatorData.OverWeight)?'red':'';}}">OverWeight</td>
                <tr ng-if="SimulatorData.OverHeight">
                  <td></td>
                  <td style="background-color:{{(SimulatorData.OverHeight)?'red':'';}}">OverHeight</td>
                </tr>
                <tr ng-if="SimulatorData.OverLength">
                  <td></td>
                  <td style="background-color:{{(SimulatorData.OverLength)?'red':'';}}">OverLength</td>
                </tr>
            </table>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">New Bag Configuration</div>
            <table class="table commandTable">
              <tr class="commandRow">
                <td>
                  <button ng-model="OverHeight" ng-click="OverHeight = !OverHeight" type="button" class="btn btn-default {{(OverHeight)?'active':''}}">OverHeight</button>
                  <button ng-model="OverLength" ng-click="OverLength = !OverLength" type="button" class="btn btn-default {{(OverLength)?'active':''}}">OverLength</button>
                  <div class="input-group">
                    <input type="number" class="form-control" aria-describedby="basic-addon1" ng-model="bagWeight" value="Weight" placeholder="Weight (kg)"
                      min="0" step="0.1">
                  </div>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">{{(bagColour)?bagColour:'Select Bag Colour'}}</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <button ng-repeat="colour in supportedBagColours" class="btn" type="submit" style="background-color: {{colour}}" ng-click="addBag(bagWeight,colour,{OverHeight:OverHeight,OverLength:OverLength})">{{colour}}</button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="container col-md-5">
          <div class="panel panel-default">
            <div class="panel-heading">BHS Control</div>
            <table class="table commandTable">
              <tr class="commandRow">
                <td ng-if="simulateSBD">
                  <img class="control-panel-img" ng-src="{{(SBDData.devices.bhs.ready)?'./img/simulator/MainSwitch-On.png':'./img/simulator/MainSwitch-Off.png'}}"
                    ng-click="SBDData.devices.bhs.ready = !SBDData.devices.bhs.ready" uib-tooltip="Switch {{(SBDData.devices.bhs.ready)?'ON':'OFF'}}"></img>
                </td>
                <td ng-if="!simulateSBD">
                  <img class="control-panel-img" ng-src="{{(kiosk.Status == 1)?'./img/simulator/MainSwitch-On.png':'./img/simulator/MainSwitch-Off.png'}}"
                    ng-click="key(kiosk.Status != 1)" uib-tooltip="Switch {{(kiosk.Status == 1)?'ON':'OFF'}}"></img>
                </td>
              </tr>
              <tr class="commandRow">
              </tr>
              <tr class="commandRow">
                <button ng-click="toggleThreeConveyors()" type="button" class="btn {{(threeConveyors)?'btn-warning':'btn-info'}}">{{(threeConveyors)?'3 Conveyors':'2 Conveyors'}}</button>
                <button ng-if="threeConveyors" ng-click="toggleScaleThreeConveyorPosition()" type="button" class="btn {{(scaleThreeConveyorPosition == 0)?'btn-primary':'btn-info'}}">
                  <span class="glyphicon glyphicon-scale" aria-hidden="true">
                  </span>
                  {{(scaleThreeConveyorPosition == 0)?'1':'2'}}
                </button>
              </tr>
              <tr class="commandRow">
                <td>
                  <div class="btn-group">
                    <button type="button" class="btn btn-default">Select Alarm</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <a ng-click="simulateError(errorValue)" ng-repeat="(key, errorValue) in errorList">{{errorValue}}</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
              <tr class="commandRow">
                <td>
                  <button ng-click="inject()" type="button" class="btn btn-primary" ng-disabled="(SimulatorData.Conveyors[0].MovingReverse ||SimulatorData.Conveyors[1].MovingReverse || SimulatorData.Conveyors[2].MovingReverse || SimulatorData.Conveyors[0].Moving || SimulatorData.Conveyors[1].Moving || SimulatorData.Conveyors[2].Moving)">
                    INJECT</button>
                  <button ng-if="threeConveyors" ng-click="forward()" type="button" class="btn btn-warning" ng-disabled="(SimulatorData.Conveyors[0].MovingReverse ||SimulatorData.Conveyors[1].MovingReverse || SimulatorData.Conveyors[2].MovingReverse || SimulatorData.Conveyors[0].Moving || SimulatorData.Conveyors[1].Moving || SimulatorData.Conveyors[2].Moving)">
                    FORWARD</button>
                  <button ng-if="threeConveyors" ng-click="reverse()" type="button" class="btn btn-warning" ng-disabled="(SimulatorData.Conveyors[0].MovingReverse ||SimulatorData.Conveyors[1].MovingReverse || SimulatorData.Conveyors[2].MovingReverse || SimulatorData.Conveyors[0].Moving || SimulatorData.Conveyors[1].Moving || SimulatorData.Conveyors[2].Moving)">
                    REVERSE</button>
                  <button ng-click="reset()" type="button" class="btn btn-danger">RESET</button>
                </td>
                <tr>
                  <td>
                    <button ng-click="simulateSBD = !simulateSBD" type="button" class="btn {{(simulateSBD)?'btn-success':'btn-info'}}">{{(simulateSBD)?'Simulating SBD':'Not Simulating SBD'}}</button>
                  </td>
                </tr>
                <tr>
                  <td ng-if="simulateSBD">
                    <button ng-click="SBDData.devices.bagtagprinter.connected = !SBDData.devices.bagtagprinter.connected" type="button" class="btn {{(SBDData.devices.bagtagprinter.connected)?'btn-success':'btn-danger'}}">BagTag Printer</button>
                    <button ng-click="SBDData.devices.receiptprinter.connected = !SBDData.devices.receiptprinter.connected" type="button" class="btn {{(SBDData.devices.receiptprinter.connected)?'btn-success':'btn-danger'}}">Receipt Printer</button>
                    <button ng-click="SBDData.devices.plc.connected = !SBDData.devices.plc.connected" type="button" class="btn {{(SBDData.devices.plc.connected)?'btn-success':'btn-danger'}}">PLC</button>
                    <button ng-click="SBDData.devices.gun.connected = !SBDData.devices.gun.connected" type="button" class="btn {{(SBDData.devices.gun.connected)?'btn-success':'btn-danger'}}">Gun</button>
                    <button ng-click="SBDData.devices.scale.connected = !SBDData.devices.scale.connected" type="button" class="btn {{(SBDData.devices.scale.connected)?'btn-success':'btn-danger'}}">Scale</button>
                  </td>
                </tr>
              </tr>
            </table>
          </div>
        </div>

        <div class="row">
          <!-- <div class="col-md-2">
            <button ng-if="conveyorHasBag(0)" ng-click="removeBag(0)" type="button" class="btn btn-danger">Remove Bag</button>
          </div>
          <div class="col-md-2">
            <button ng-if="conveyorHasBag(1)" ng-click="removeBag(1)" type="button" class="btn btn-danger">Remove Bag</button>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="bhs">
          <!-- <div class="col-md-4 conveyor {{SimulatorData.Conveyors[0].cssClass}}" style="background-color:{{(SimulatorData.Conveyors[0].Moving)?'blue':(SimulatorData.Conveyors[0].MovingReverse)?'red':'grey'}}; color:{{(SimulatorData.Conveyors[0].BagPresent)?'yellow':'black'}};"> -->
          <div class="col-md-4 conveyor {{SimulatorData.Conveyors[0].cssClass}}" style="background-color:{{(SimulatorData.Conveyors[0].Moving)?'blue':(SimulatorData.Conveyors[0].MovingReverse)?'red':'grey'}}; color:{{(SimulatorData.Conveyors[0].BagPresent)?'yellow':'black'}};">
            {{SimulatorData.Conveyors[0].label}}
            <span ng-if="SimulatorData.Conveyors[0].Bags.length > 0" ng-click="removeBag(0)" class="glyphicon glyphicon-remove btn btn-danger"
              aria-hidden="true"></span>
            <img class="simulator-bag-conveyor{{(SimulatorData.Conveyors[0].Moving)?'-forward':(SimulatorData.Conveyors[0].MovingReverse)?'-reverse':''}}"
              ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Conveyors[0].Bags" />
            <!-- <img ng-if="SimulatorData.Conveyors[0].Bags[0]" class="simulator-bag-conveyor {{(SimulatorData.Conveyors[0].Moving)?'forward':(SimulatorData.Conveyors[0].MovingReverse)?'reverse':'';}}" ng-src="{{SimulatorData.Conveyors[0].Bags[0].Image}}"/> -->
            <!-- <p class="simulator-bag-conveyor">
              {{SimulatorData.Conveyors[0].Bags[0].weight}}
            </p> -->
          </div>
          <div class="col-md-4 conveyor {{SimulatorData.Conveyors[1].cssClass}}" style="background-color:{{(SimulatorData.Conveyors[1].Moving)?'blue':(SimulatorData.Conveyors[0].MovingReverse)?'red':'grey'}}; color:{{(SimulatorData.Conveyors[1].BagPresent)?'yellow':'black'}};">
            {{SimulatorData.Conveyors[1].label}}
            <span ng-if="SimulatorData.Conveyors[1].Bags.length > 0" ng-click="removeBag(1)" class="glyphicon glyphicon-remove btn btn-danger"
              aria-hidden="true"></span>
            <img class="simulator-bag-conveyor{{(SimulatorData.Conveyors[1].Moving)?'-forward':(SimulatorData.Conveyors[1].MovingReverse)?'-reverse':''}}"
              ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Conveyors[1].Bags" />
            <!-- <img ng-if="SimulatorData.Conveyors[1].Bags[0]" class="simulator-bag-conveyor {{(SimulatorData.Conveyors[1].Moving)?'forward':(SimulatorData.Conveyors[1].MovingReverse)?'reverse':'';}}" ng-src="{{SimulatorData.Conveyors[1].Bags[0].Image}}"/> -->
          </div>
          <div ng-if="threeConveyors" class="col-md-4 conveyor {{SimulatorData.Conveyors[2].cssClass}}" style="background-color:{{(SimulatorData.Conveyors[2].Moving)?'blue':'grey'}}; color:{{(SimulatorData.Conveyors[2].BagPresent)?'yellow':'black'}};">
            {{SimulatorData.Conveyors[2].label}}
            <!-- <img class="simulator-bag-conveyor" ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Conveyors[2].Bags" /> {{SimulatorData.Conveyors[2].Bags[0].weight}} -->
            <!-- <img ng-if="SimulatorData.Conveyors[2].Bags[0]" class="simulator-bag-conveyor{{(SimulatorData.Conveyors[2].Moving)?'-forward':''}}" ng-src="{{SimulatorData.Conveyors[2].Bags[0].Image}}"/> -->
            <img class="simulator-bag-conveyor{{(SimulatorData.Conveyors[2].Moving)?'-forward':(SimulatorData.Conveyors[2].MovingReverse)?'-reverse':''}}"
              ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Conveyors[2].Bags" />
          </div>
        </div>
        <div class="col-md-4 collector" style="background-color:{{SimulatorData.Collector.colour}};">
          Collector
          <!-- <img class="simulator-bag-collector {{(SimulatorData.Collector.Bags.length > 0)?'collector-animation':''}}" ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Collector.Bags" /> -->
          <img class="simulator-bag-collector" ng-src="{{bag.Image}}" ng-repeat="bag in SimulatorData.Collector.Bags" />
        </div>
      </div>
      <div class="col-md-3 {{(threeConveyors && scaleThreeConveyorPosition == 1)?'scale-box-conv1':'scale-box-conv0'}}">Scale Weight: {{SimulatorData.ScaleValue}}</div>
      <div class="bhs-alert bhs-alert-info" role="alert" ng-if="SimulatorData.InfoMessage != ''">
        <h4>Last BHS Status Message: {{SimulatorData.InfoMessage}}</h4>
      </div>
      <div class="bhs-alert bhs-alert-danger" role="alert" ng-if="SimulatorData.ErrorMessage != ''">
        <h4>Last BHS Error Message: {{SimulatorData.ErrorMessage}}</h4>
      </div>
      <footer class="footer" ng-click="displayVersion = !displayVersion">
        <div class="flux-bar">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="footer-logo"></div>
        <div class="footer-logo-client"></div>
        <div class="footer-engie-bar"></div>
      </footer>
    </div>
  </div>
</body>

</html>